@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');

body {
  background: white;
  font-family: 'Roboto', sans-serif;

  h1, h2, h3, h4, h5 {
    font-family: 'Roboto', sans-serif;
  }
}
.grid-container {
  max-width: 1140px;
}
h3{
  font-size: 20px;
  font-weight: 500;
}
p {
  margin: 0px;
  font-weight: 300;
  font-size: 15px;
  line-height: 24px;
}
