a {
  &.button {
    font-size: 16px;
    background-color: $black;
    color: $white;
    padding: 10px 0px;
    width: 100%;
    max-width: 190px;
    text-align: center;
    display: inline-block;
    text-transform: uppercase;
    font-weight: 400;
    margin-top: 10px;
  }
}

.black-button {
  font-size: 16px;
  background-color: $black;
  font-weight: 600;
  a {
    color: $white;
  }
  &:hover {
    background-color: $cta_bg;
  }
}
