$purpule: #0c0f38;
$white :#FFF;
$cta_bg: #8308eb;
$red: #ef4259;
$yellow: #fdd430;
$red_line: #f38b74;
$light_grey: #f6f9fd;
$grey:#999;
$black: #000;
$zodiac_blue: #0f2f57;
$silver: #aaaaaa;
$dark_blue:#164682;
$blue_black: #0b2341;
$flamingo: #ed502e;
