nav {
  ul.menu {
    a {
      color: $white;
      line-height: 20px;
      padding: 0 25px;
    }
    a.is-active,
    a:hover {
      color: $yellow;
    }
  }
}

aside{
  nav{
    background: #cef;
  }
}
