.block-views-blockservices-block-1 {
  background-color: $purpule;
  color: $white;
  .views-row {
    border-radius: 20px;
    border: #cecfd7 solid 2px;
    padding: 40px;
    margin-bottom: 30px;
    text-align: center;
    &:hover {
      background-color: $cta_bg;
    }
    .views-field-field-image {
      padding-left: 5rem;
      .field-content {
        height: 100px;
        width: 100px;
        background-color: $white;
        border-radius: 50px;
        padding-top: 19px;
      }
    }
    .views-field-title {
      line-height: 25px;
      padding: 15px 0;
    }
  }
  .view-footer {
    .button {
      background: $white;
      color: $black;
      text-transform: capitalize;
    }
  }
}

.view-header {
  padding-bottom: 30px;
  h2 {
    font-weight: 600;
  }
  h6 {
    font-size: 14px;
    font-weight: 500;
    color: $silver;
    text-transform: uppercase;

    &::after {
      content: "";
      width: 120px;
      height: 1px;
      display: inline-block;
      background: $red_line;
      margin: 4px 10px;
    }
  }
}

.views-element-container {
  padding: 60px 0;
}

.block-views-blocktestimonials-block-1 {
  background-color: $light_grey;
  article {
    box-shadow: 0px 0px 20px 0px rgba(11, 35, 65, 0.1);
    background: #fff;
    padding: 2rem;
    margin: 2rem;
    .ri-double-quotes-l {
      position: relative;
      top: 1.5rem;
      left: -1.2rem;
    }
    .ri-double-quotes-r {
      position: relative;
      top: -1.5rem;
      left: 18rem;
    }
    .job-title {
      color: $grey;
    }
    h3 {
      font-weight: 700;
    }
    .testimonial-image {
      width: 90px;
      border-radius: 10px;
      border: 6px solid #fff;
      position: absolute;
      left: -15px;
    }
  }
}

.owl-theme .owl-controls {
  .owl-page span {
    border: 1px solid $red;
    background-color: $white;
  }
  .owl-page.active span {
    background-color: $red;
  }
}

.block-views-blockcards-block-1 {
  .views-row {
    padding: 25px;
    box-shadow: -10px -5px 40px 0 rgba(0, 0, 0, 0.1);
    .views-field-title a {
      font-size: 42px;
      font-weight: 700;
      color: $black;
    }

    .views-field-view-node {
      padding-top: 1rem;
      a {
        columns: $dark_blue;
        font-weight: 600;
      }
    }
  }
}

.block-views-blockcards-block-2 {
  .views-row {
    padding: 40px;
    margin-bottom: 30px;
    font-weight: 400;
    .views-field {
      padding: 10px 0;
    }
    .views-field-title a {
      font-size: 24px;
      font-weight: 700;
      color: $black;
    }
  }
}

.card.why-box {
  background-color: transparent;
  border-radius: 20px;
  padding: 40px 20px 20px 20px;
  transition: ease-in all 0.5s;
  margin-bottom: 30px;
  box-shadow: #ddd 0px 0px 10px;
  width: 120%;
  &:hover {
    transition: ease-in all 0.1s;
    transform: scale(1.1);
  }
}
